In [1]:
from database_utils import * 
from data_extraction import * 
from data_cleaning import * 
from sqlalchemy import text
import tabula

In [10]:
tabula.read_pdf(link, stream=True, pages="all",output_format='dataframe')

AttributeError: module 'tabula' has no attribute 'read_pdf'

In [2]:
DATABASE_TYPE = 'postgresql'
DBAPI = 'psycopg2'
ENDPOINT = 'localhost'
USER = 'postgres'
PASSWORD = '11dariods56'
PORT = '5454'
DATABASE = 'sales_data'


engine = create_engine(f"{DATABASE_TYPE}+{DBAPI}://{USER}:{PASSWORD}@{ENDPOINT}:{PORT}/{DATABASE}")
engine = engine.connect()


result= engine.execute(text("SELECT * FROM orders_table"))
result=result.fetchall()
orders_df=pd.DataFrame(result)

result= engine.execute(text("SELECT * FROM dim_card_details"))
result= result.fetchall()
cards_df=pd.DataFrame(result)

len(cards_df['card_number'].unique())

intersection = set(orders_df['card_number'].unique()) - set(cards_df['card_number'])

In [7]:
intersection

{'180050249830123',
 '180057301116499',
 '213146876620802',
 '213180995230995',
 '2289192796319960',
 '30250394667203',
 '30514060650748',
 '342417081119649',
 '344708646107246',
 '347044908689102',
 '347930299729087',
 '3505903075912290',
 '3516253808757020',
 '3538977357550250',
 '3539141579974750',
 '3547096863061470',
 '3547250342266290',
 '3549015558397180',
 '3568046196711760',
 '3572338360037250',
 '375351960865313',
 '378525861105021',
 '379216309334303',
 '4081518050956',
 '4153576564097700',
 '4163664547785',
 '4214816564762',
 '4359935800991980',
 '4437318005811200',
 '4461113557725820',
 '4533386614864810000',
 '4740074296004170',
 '4771935519001240000',
 '4824901991016570',
 '4933918420207',
 '501855542764',
 '503817031456',
 '5490899771528630',
 '560543077963',
 '567416010674',
 '578856259689',
 '582457332168',
 '586988110886',
 '588165713912',
 '6011036876440620',
 '6011461937554730',
 '6011652526437820',
 '639029234510',
 '6543590062391780',
 '6575138434928450',
 '675929507340',
 '676173962538',
 '676177220818'}

In [8]:
s3_file= pd.read_csv('original_df.csv')

In [9]:
s3_file[s3_file['card_number'].isin(intersection)]

Empty DataFrame
Columns: [Unnamed: 0, card_number, expiry_date, card_provider, date_payment_confirmed]
Index: []